  <div ng-hide="AuthorizedUser.isLoggedIn">
    <form ng-submit="handleLogin()" class="form-horizontal">
      <legend>Login</legend>
      <div class="alert alert-error" ng-show="errorMessage.length">
        <strong>{{errorMessage}}</strong>
      </div>
      <div class="control-group">
        <label for="username" class="control-label">Username </label>
        <div class="controls"><input type="text" id="username" name="username" ng-model="LoginModel.username" maxlength="20" required></div>
      </div>
      <div class="control-group">
        <label for="password" class="control-label">Password </label>
        <div class="controls"><input type="password" id="password" name="password" ng-model="LoginModel.password" maxlength="20" required></div>
      </div>
      <div class="form-actions"><button type="submit" class="btn btn-primary">Login</button></div>
    </form>
  </div>
